<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <!--     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 -->
      <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/apps/dist/css/sb-admin-2.css" rel="stylesheet">

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">问卷中心</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">我的问卷 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">问卷制作 </a>
          </li>
        </ul>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">登出</button>
      </div>
    </nav>
    <div id="page-wrapper">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">问卷制作</h1>
            <p class="lead">原谅我没有美工基础，所以做的比较简陋，不过功能是完善的</p>
              <form>
                  <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label">标题</label>
                    <div class="col-sm-4">
                      <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="colFormLabel" class="col-sm-1 col-form-label">简介</label>
                    <div class="col-sm-8">
                        <textarea type="email" class="form-control" id="colFormLabel" placeholder=""></textarea>
                    </div>
                  </div>
              </form>
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <form>
                                    <div class="card w-100" id="add">
                                        <div class="card-body">
                                            <div class="form-group row">
                                            <label for="inputPassword" class="col-sm-2 col-form-label">1.题目内容</label>
                                            <div class="col-sm-7">
                                              <input type="password" class="form-control" id="inputPassword">
                                            </div>
                                            <div class="col-sm-1 form-check">
                                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                              <label class="form-check-label" for="defaultCheck1">
                                                多选
                                              </label>
                                            </div>
                                            <div class="col-sm-2">
                                              <button type="submit" class="btn btn-danger">删除题目</button>
                                            </div>
                                          </div>
                                            <div class="form-row">
                                                <div class="col-2">
                                                  <input type="text" class="form-control" placeholder="选项">
                                                </div>
                                                <div class="col-auto">
                                                  <button type="submit" class="btn btn-dark">添加选项</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <button id="add_field" class="btn btn-dark">添加题目</button>
                                    <button type="submit" class="btn btn-primary">保存</button>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script>
        var count = 1;
        $(document).ready(function () {
            $("#add_field").click(function () {
                $("#add").
            })
        })
    </script>
  </body>
</html>